/* Cores principais */
.bg-verde-escuro {
  background-color: #283618;
}

.titulo-secao {
  color: #606C38;
}

.produto-titulo {
  color: #283618;
}

.btn-ver-produto {
  background-color: #BC6C25;
  border-color: #BC6C25;
  color: #FEFAE0;
}

.btn-ver-produto:hover {
  background-color: #DDA15E;
  border-color: #DDA15E;
}

/* Estilos adicionais */
body {
  font-family: Arial, sans-serif;
  background-color: #FEFAE0;
}

.navbar-brand {
  color: #FEFAE0 !important;
}

.nav-link {
  color: #FEFAE0 !important;
}

.carousel-caption h5 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption p {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 3px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  margin-top: auto; 
}

footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

footer .footer-content div {
  margin: 10px 0;
}

footer .footer-content a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

footer .footer-content a:hover {
  text-decoration: underline;
}

footer .social-icons a {
  font-size: 24px;
  margin: 0 10px;
}

footer p {
  font-size: 0.9rem;
  margin-top: 10px;
}

@media (max-width: 768px) {
  footer .footer-content {
      flex-direction: column;
  }

  footer .social-icons {
      margin-top: 10px;
  }
}